.venv


/Projeto Automacao WEB/1_Explicação do formato do Projeto
/Projeto Automacao WEB/2_Como decidir por qual caminho automatizar tarefas
/Projeto Automacao WEB/3_Entendendo o desafio
/Projeto Automacao WEB/4_Base de dados de produtos